* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(246, 248, 249);
}

header {
    background-color: white;
    height: 100px;
    padding-top: 10px;
    padding-left: 10px;
    margin-bottom: 50px;
}

ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.logo {
    height: 70px;
    width: 70px;
    vertical-align: bottom;
}

.text-logo {
    display: inline-block;
    font-size: 50px;
    font-weight: bold;
}

.container {
    margin: 0 auto;
    width: 80%;
    background-color: white;
}

.task-manager {
    height: 60px;
    line-height: 60px;
    padding-left: 40px;
    border-bottom: 3px solid rgb(246, 248, 249);
}

/* Buttons */
.button {
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
}

.button-blue {
    border: 3px solid rgb(71, 173, 241);
    background-color: rgb(71, 173, 241);
    color: white;
}

.button-grey {
    border: 2px solid rgb(207, 212, 216);
    background-color: white;
    color: rgb(207, 212, 216);
}

.tasks {
    padding: 30px 40px;
}

.tasks article {
    margin-bottom: 15px;
}

article li {
    margin-bottom: 20px;
    font-size: 18px;
}

article h2 {
    font-size: 30px;
}

.point {
    margin-right: 5px;
    height: 20px;
    width: 20px;
    border: 1px solid;
    border-radius: 50%;
    display: inline-block;
    line-height: 15px;
    font-size: 15px;
    text-align: center;
    padding: 2px;
}

.check {
    border: 1px solid green;
    color: green;
}

.cross {
    border: 1px solid red;
    color: red;
}

/* Badges */
.badge {
    color: white;
    border-radius: 15px;
    padding: 5px 10px;
    font-size: 15px;
}

.badge-blue {
    background-color: rgb(69, 171, 234);
}

.badge-purple {
    background-color: rgb(156, 114, 228);
}

.badge-green {
    background-color: rgb(100, 192, 169);
}

.badge-orange {
    background-color: rgb(242, 158, 51);
}

.badge-pink {
    background-color: rgb(216, 99, 161);
}

.badge-lightgreen {
    background-color: rgb(176, 201, 38);
}